<section id="audit">
    <div class="container d-grid grid-two-columns align-items-center grid-column-reverse">
        <div class="content">
            <h2><span>1</span> Audit d'interfaces</h2>
            <p class="subtitle">Révéler les points positifs et négatifs du point de vue ergonomie</p>
            <ul>
                <li>Catégorisation des différents points négatifs</li>
                <li>Explication des problèmes engendrés</li>
                <li>Proposition de solutions</li>
            </ul>
        </div>
        <div class="img">
            <div class="decor">
                <svg width="731" viewBox="0 0 731 1052" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M525.819 326.853C486.319 171.853 271.319 748.853 180.319 204.853C89.3187 -339.148 0.318858 330.095 0.318848 728.353C0.318832 1300.85 577.319 961.853 697.319 845.853C801.801 744.853 633.319 794.353 560.819 672.353C488.319 550.353 572.643 510.593 525.819 326.853Z" fill="#6B41A6" fill-opacity="0.2"/>
                </svg>
            </div>
            <app-illustration-audit></app-illustration-audit>
        </div>
    </div>
</section>