<div class="container d-flex align-items-center">
    <a><h1>David Violet</h1></a>
    <div class="text-align-center ml-auto mr-auto menu">
        <a routerLink="" routerLinkActive="active">A propos</a>
        <a routerLink="realisations" routerLinkActive="active">Réalisations</a>
        <a routerLink="" fragment="contact">Me contacter</a>
    </div>
    <div class="text-align-right white-space-nowrap reseaux">
        <a>
            <i><app-logo-linkedin></app-logo-linkedin></i>
        </a>
        <a>
            <i><app-logo-dribbble></app-logo-dribbble></i>
        </a>
    </div>
</div>