$primary-color: #6F6FC7;
$secondary-color: #6B41A6;
$text-color: #666666;
$text-contrast: #ffffff;
$surface-background: #ffffff;

$breakpoints: (
    xs: ( min:0px, max: 730px),
    sm: ( min:731px, max: 899px ),
    md: ( min: 900px, max: 1380px),
    xl: ( min: 1381px, max: 9999px )
);