@import "../../../../styles/mixins/mixins.scss";
section {
    background-color: var(--secondary-color);
    color: var(--text-contrast);
    min-height: 34rem;
    @include xs {
        .img {
            display: none;
        }
        min-height: auto;
    }
    
    .content {
        > div {
            &.header {
                margin-bottom: 3rem;
                p {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
    }
    .decor {
        position: absolute;
        bottom: -198px;
        height: 200px;
        right: 0;
        > svg {
            height: 200px;
        }
    }
}