<section>
    <div class="line-decor">
        <div class="container">
            <svg class="line" viewBox="0 0 1024 550" preserveAspectRatio="none">
                <path stroke-dashoffset="40" d="M780 400 C 780 520, 646 450, 512 550" />
            </svg>
        </div>
    </div>
    <div class="container d-grid grid-two-columns align-items-center">
        <div class="content">
            <div class="header">
                <p class="body1">David Violet</p>
                <p class="subtitle">Designer et développeur d'expérience</p>
            </div>
            <div>
                <p>Passionné d'innovation digitale Web, j’aime résoudre des problèmes en imaginant et concevant des expériences émotionnelles à travers d’interfaces agréables et créatives. </p>
                <p>Ma méthode, une démarche de conception centrée utilisateurs.</p>
            </div>
        </div>
        <div class="img">
            <app-illustration-presentation></app-illustration-presentation>
        </div>
    </div>
    <div class="decor">
        <svg viewBox="0 0 548 252" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet">
            <path d="M547.455 0.409515H0.854736C2.35303 0.469475 3.90151 0.499932 5.5001 0.499931C88.3092 0.499907 111.799 15.3298 151.15 40.1737C160.27 45.9312 170.241 52.2266 182 58.9999C211.447 75.9613 241.893 67.9496 272.449 59.9089C306.747 50.8836 341.183 41.8219 374.501 67.9999C400.49 88.4205 420.032 123.222 439.034 157.064C466.094 205.255 492.061 251.5 534 251.5C538.436 251.5 542.927 251.413 547.455 251.23V0.409515Z" fill="#6B41A6"/>
        </svg>
    </div>
</section>