<section id="developpement">
    <div class="decor"></div>
    <div class="line-decor">
        <div class="container">
            <div class="line left"></div>
            <!--<svg class="line" viewBox="0 0 1024 640" preserveAspectRatio="none">
                <path stroke-dashoffset="40" d="M512 0 C 170 213, 170 427, 512 640" />
            </svg>-->
        </div>
    </div>
    <div class="container d-grid grid-two-columns align-items-center grid-column-reverse">
        <div class="content">
            <h2><span>3</span> Développement Web</h2>
            <p class="subtitle">Développement d’interfaces et d’applications serveurs</p>
            <ul>
                <li>Code commenté et structuré</li>
                <li>Tout supports (pc, tablette, téléphone, ...)</li>
                <li>Conforme aux normes web</li>
                <li>Sécurisation des données</li>
            </ul>
        </div>
        <div class="img">
            <app-illustration-developpement></app-illustration-developpement>
        </div>
    </div>
</section>