:host { position: relative; }
/*.decor {
    position: absolute;
    top: -100px;
    left: 0;
    z-index: -1;
    > svg {
        width: 45vw;
    }
}*/

.decor {
    background-image: url("/assets/developpement-decor.svg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: auto;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50vw;
    z-index: -1;
}