<section id="contact">
    <div class="container">
        <svg width="600" class="line" viewBox="0 0 600 200" >
            <path d="M300 10 C 350 50, 300 100, 300 150" stroke-width="12" />
            <path class="arrow" 
                d="M40.7468 41.0661C37.6031 44.3121 32.3969 44.3121 29.2532 41.0661L3.1043 14.0655C-1.81115 8.98995 1.78546 0.5 8.85106 0.499999L61.1489 0.499995C68.2145 0.499994 71.8111 8.98995 66.8957 14.0655L40.7468 41.0661Z"
                transform="translate(265, 150)"
            />
        </svg>
        <div class="contact">
            <h2>Et si on parlait ?</h2>
            <a href="mailto:davidviolet18@gmail.com?subject=Demande d'informations&body=Bonjour,"><span>Email :</span> davidviolet18@gmail.com</a>
        </div>
        <div class="reseaux">
            <p class="subtitle">Retrouvez-moi aussi sur :</p>
            <app-logo-reseaux></app-logo-reseaux>
        </div>
    </div>
    
</section>