<section id="conception">
    <div class="decor">
        
    </div>
    <div class="container d-grid grid-two-columns align-items-center">
        <div class="content">
            <h2><span>2</span> Conception d'interfaces</h2>
            <p class="subtitle">Une démarche centrée utilisateur</p>
            <ul>
                <li>Exploration des besoins utilisateurs, comprendre leur environnement, leurs émotions, leurs motivations</li>
                <li>Idéation de solutions de conception</li>
                <li>Création de prototypes</li>
                <li>Evaluation des solutions générées avec des utilisateurs</li>
                <li>Design d’interface</li>
            </ul>
        </div>
        <div class="img">
            
            <app-illustration-conception></app-illustration-conception>
        </div>
    </div>
    
</section>