<section id="accompagnement">
    <div class="decor">
        
    </div>
    <div class="container d-grid grid-two-columns align-items-center">
        <div class="content">
            <h2><span>4</span> Accompagnement</h2>
            <ul>
                <li>Hébergement sur serveurs linux ou windows</li>
                <li>Formation au développement web</li>
                <li>Accompagnement des développeurs aux bonnes pratiques de l’ergonomie web et mobile</li>
            </ul>
        </div>
        <div class="img">
            <app-illustration-accompagnement></app-illustration-accompagnement>
        </div>
    </div>
</section>