<section id="accompagnement">
    
    <div class="decor"></div>
    <div class="line-decor">
        
        <div class="container">
            <div class="line right"></div>
            <!--<svg class="line" viewBox="0 0 1024 640" preserveAspectRatio="none">
                <path stroke-dashoffset="-25" d="M512 0 C 854 213, 854 427, 512 640" />
            </svg>-->
        </div>
    </div>
    <div class="container d-grid grid-two-columns align-items-center">
        <div class="content">
            <h2><span>4</span> Accompagnement</h2>
            <ul>
                <li>Hébergement sur serveurs linux ou windows</li>
                <li>Formation au développement web</li>
                <li>Accompagnement des développeurs aux bonnes pratiques de l’ergonomie web et mobile</li>
            </ul>
        </div>
        <div class="img">
            <app-illustration-accompagnement></app-illustration-accompagnement>
        </div>
    </div>
</section>