
<div class="container page-realisation">
    <div *ngIf="loading; then loadingBlock else loadedBlock"></div>
    <div #content></div>
</div>


<ng-template #loadingBlock>Loading...</ng-template>
<ng-template #loadedBlock>
    <ng-container *ngIf="realisation; then validBlock else undefinedBlock"></ng-container>
</ng-template>
<ng-template #undefinedBlock>Contenu inexistant</ng-template>
<ng-template #validBlock>
    <!--<app-slides [slides]="[
    '/assets/realisations/site_perso/Signal-2.jpeg',
    '/assets/realisations/site_perso/Signal-3.jpeg',
    '/assets/realisations/site_perso/Signal-4.jpeg',
    '/assets/realisations/site_perso/Signal-5.jpeg',
    ]"></app-slides>
    <markdown [src]="folder+realisation.tag+'/'+realisation.file"></markdown>-->
    
</ng-template>