@import "./../variables.scss";

// TYPOGRAPHY
@mixin typography-thin { font-weight: 100; }
@mixin typography-extra-light { font-weight: 200; }
@mixin typography-light { font-weight: 300; }
@mixin typography-normal { font-weight: 400; }
@mixin typography-medium { font-weight: 500; }
@mixin typography-semi-bold { font-weight: 600; }
@mixin typography-bold { font-weight: 700; }
@mixin typography-extra-bold { font-weight: 800; }
@mixin typography-black { font-weight: 900; }

@mixin typography-roboto { font-family: 'roboto', sans-serif; }
@mixin typography-cookie { font-family: 'cookie', cursive; }

// RESPONSIVE
@mixin xs {
    $mq: map-get($map: $breakpoints, $key: "xs");
    @media (min-width: #{map-get($mq, "min")}) and (max-width: #{map-get($mq, "max")})
    {
        @content;
    }
}
@mixin sm {
    $mq: map-get($map: $breakpoints, $key: "sm");
    @media (min-width: #{map-get($mq, "min")}) and (max-width: #{map-get($mq, "max")})
    {
        @content;
    }
}
@mixin md {
    $mq: map-get($map: $breakpoints, $key: "md");
    @media (min-width: #{map-get($mq, "min")}) and (max-width: #{map-get($mq, "max")})
    {
        @content;
    }
}
@mixin xl {
    $mq: map-get($map: $breakpoints, $key: "xl");
    @media (min-width: #{map-get($mq, "min")}) and (max-width: #{map-get($mq, "max")})
    {
        @content;
    }
}